.header-logo {
    color: var(--color-brand);
    text-decoration: none;
    line-height: 1.2;
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;

}

.header__logo-second {
    color: #000000;
}

.footer__logo-second {
    color: var(--color-background);
}