:root {
    --color-primary: #757575;
    --color-brand: #2196f3;
    --color-accent: #212121;
    --color-active: #188CE8;
    --color-secondary-section: #f5f5f5;
    --collo-button: #f5f4fA;
    --color-section: #2f303a;
    --color-container: #eeeeee;
    --color-background: #ffffff;
}